*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    justify-content: center;
    font-family: sans-serif;
}
body{
    width: 100%;
   
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ccf2, #2f80ed); 
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}.navbar{
    width: 100%;
    height: 60px;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #010000;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
  }
.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.menu li.active a {
    background-color: #555;
}
.menu li.active a {
    background-color: #555;
} 
.title h1{
    margin-top: 50px;
    text-align: center;
    padding-top: 1Opx;
    font-size: 42px;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #efefef;
    border-radius: 10px;
    cursor: pointer;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    color: #4fa6c9;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}
